body {
    background-color: #fff;
}

.color_panel {
    width: 300px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.color_panel label{
    margin: 4px 0;
}
  
.color_panel input {
    width: 20px;
    height: 25px;
    padding: 0;
    border: none;
    background-color: transparent;
}

.bottom_button {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

#save {
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 140px;
    background-color: #f87777;
    border-radius: 10px;
}

#set_default {
    color: #fff;
    border: none;
    padding: 10px 20px;
    width: 140px;
    background-color: #65c575;
    border-radius: 10px;
}
.color_preview {
    width: 15px;
    height: 15px;
    border: 1px solid black;
    background-size: cover;
}
#customDropdown div {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

#customDropdown div:hover {
    background-color: #f0f0f0;
}

/* オーバーレイのスタイル */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(255, 255, 255, 0.7);
    z-index: 9999;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* Make it Kawaii ボタンのスタイル */
#makeItKawaiiBtn {
    font-size: 28px;
    margin-bottom: 15px;
    border: none;
    border-radius: 25px;
    padding: 15px 35px;
    background: linear-gradient(45deg, #FF69B4, #FF1493, #FF69B4);
    color: white;
    text-shadow: 2px 2px 4px #000000;
    box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.4);
    cursor: pointer;
    transition: transform 0.2s, background 0.3s;
}

#makeItKawaiiBtn:hover {
    transform: scale(1.1);
    background: linear-gradient(45deg, #FF4500, #FF6347, #FF4500);
}

/* Skip ボタンのスタイル */
#skipBtn {
    opacity: 0.7;
    border: none;
    background-color: transparent;
    cursor: pointer;
    font-size: 16px;
    color: #b0b0b0;
    border-bottom: 1px dashed #b0b0b0;
    margin-top: 10px;
    transition: opacity 0.2s;
}

#skipBtn:hover {
    opacity: 1;
}
